*{
    margin: 0;
    --color-primary: orange;
    --color-text-a: black; 
    --text-primary: Arial, Helvetica, sans-serif;
}
body{
    font-family: var(--text-primary);
}

/* navbar  */
.navbar{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.navbar__ul{
    display: flex;
    justify-content: space-around;
}
.navbar__items{
    list-style: none;
    margin: 0.5rem;
}
.navbar__items > a{
    text-decoration: none;
    color: var(--color-text-a);
}
.navbar__items > .active{
    border-bottom: 2px solid var(--color-text-a);
}

/* container  */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__a{
    padding: 1rem;
    background-color: var(--color-primary);
    align-self: center;
    margin: 1rem 0 10rem 0;
    border-radius: 10px;
    color: var(--color-text-a);
    text-decoration: none;
    box-shadow: 2px 2px 2px var(--color-text-a);
}

/* main */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 2rem;
}
.main__left{
    flex-basis: 50%;
    font-size: 4rem;
    text-shadow: 2px 2px 2px var(--color-primary);
}
.main__img{
    width: 30rem;
    flex-basis: 50%;
}

/* all page main - changeable part *****************************************************/
.docs__left{
    margin-right: 15rem;
}
.page__main{
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-height: 50rem;
}
.page__main > .aside{
    border-left: 2px solid black;
}
.aside__ul__items{
    list-style: none;
    padding-bottom: 0.5rem;
}
.aside__ul__items > a{
    text-decoration: none;
    color: var(--color-text-a);
}
/* ******************************************************************************* */

/* footer */
.footer{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.footer__img{
    width: 1.5rem;
    margin: 0.5rem;
}

@media screen and (max-width: 768px){
    .container{
        height: 60rem;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 3rem 2rem;
    }
    .main__img{
        width: 17rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-basis: 100%;
    }
    .main__left{
        font-size: 2.5rem;
        flex-basis: 100%;
        margin-top: 5rem;
    }
}